<h1> ABOUT THE PROJECT</h1>
<p> The CU App was developed with the thought in mind to make an average University of Colorado - Boulder student's life easier.</p>
<p> This project was developed in approximately 12 weeks during a semester of CSCI3308 - Software Development.</p>
<p> The team members of the project were: Camden Billingsley, Kai Dewey, Blake Larson, Forrest Lazzara and Liz Shan.</p>
<p> Resources used for the project:</p>
<p> Links to GitHub and such:</p>


<p> Used the basis of the current dashboard as a template for this page. Will go back at a future date, probably closer to the end of the project to finalize and touch up this page.
Need to learn HTML and CSS more before I can fully complete the idea I had for this page.
</p>
