<h1>Uh oh!</h1>
<h1>{{message}}</h1>
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3efd44ff-0448-4b8e-ab1e-90b4c80e3d6b/deec7nc-116ff56d-8055-4f36-8dac-d94553994bc6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvM2VmZDQ0ZmYtMDQ0OC00YjhlLWFiMWUtOTBiNGM4MGUzZDZiXC9kZWVjN25jLTExNmZmNTZkLTgwNTUtNGYzNi04ZGFjLWQ5NDU1Mzk5NGJjNi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.CdXHRolNo3Is0erPPz4iq1xwq9AtsACraWV1zeWODLM" alt="custom drawing">
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
