<h1>Site Map</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/auth/login">Login</a></li>
  <li><a href="/auth/register">Register</a></li>
  <li><a href="/event/create">Create Event</a></li>
  <li><a href="/event/list">List Events</a></li>
  <li><a href="/about">About</a></li>
</ul>
