<img id="main-logo" alt="buff logo" src="./buff-logo.png" />
<button id="calendar-button"><strong>Your Calendar</strong></button>
<button id="map-button"><strong>Campus Map</strong></button>
<button id="events-button"><strong>Find Events</strong></button>

<div id="shape-1"></div>
<div id="shape-2"></div>
