<!-- HTML file for browser view + testing -->
<div id="form-container">
    <h3>Register Form</h3>
    <form id="user-form" action="/auth/register" method="POST">
        <div class="form-group">
            <label for="username">Create Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Enter Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Create Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
        </div>

        <br>
        <h5 class="text-danger" id="form-error-message"></h5>
        <br>

        <button id="formSubmit" type="submit" class="btn btn-primary">Register</button>
        <div class="container signin">
            <p>Already have an account? <a href="login.html">Sign in</a>.</p>
        </div>
    </form>
</div>

{{#if message}}
    <h4 class="alert alert-danger">{{message}}</h4>
{{/if}}

<script src="/js/signup.bundle.js"></script>
